h1 {
  text-align: center;
  font-family: cursive;
}

fieldset {
  margin-bottom: 10px;
}

p {
  text-align: center;
}

legend {
  border: solid violet 1px;
  padding: 5px;
  font-weight: solid;
  border-radius: 20px;
  background: lightblue;
}

.principal {
  background-color: whitesmoke;
}

#principal {
  border: 1px solid black;
  width: 99%;
  margin: 0 auto;
  padding: 5px;
  background-color: lightgray;
}

#miFoto {
  margin: 5px;
  border: solid black 4px;
}